.places__list {
  max-width: 984px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-auto-flow: row;
  row-gap: 80px;
}

@media screen and (max-width: 984px) {
  .places__list {
    row-gap: 73px;
  }
}

@media screen and (max-width: 568px) {
  .places__list {
    row-gap: 50px;
  }
}
