.footer__links {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  column-gap: 19px;
}

@media screen and (max-width: 730px) {
  .footer__links {
    flex-direction: column;
    row-gap: 32px;
  }
}

  /* display: grid; */
  /* grid-template-columns: repeat(auto-fill, minmax(min-content, 100px)); */
  /* grid-template-rows: auto; */
  /* grid-template-columns: repeat(auto-fill, 1fr); */
  /* column-gap: 18px; */
  /* grid-auto-flow: row; */
