.place__link {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-decoration-line: underline;
  transition: opacity .3s ease;
  word-break: break-all;
}

.place__link:hover {
  opacity: .8;
}
